### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Setup
import pandas as pd

# File to Load
Sxhool_Data = "Resources/schools_complete.csv"
student_DatX = "Resources/students_complete.csv"

In [2]:
# Read School and Student Files,store in pandas as data frame
sxhool_Data = pd.read_csv(Sxhool_Data)
student_DatX = pd.read_csv(student_DatX)

# merge the data into one data set  
sxhool_Student_data = pd.merge(student_DatX, sxhool_Data, how="left", on=["school_name", "school_name"])

In [3]:
sxhool_Student_data.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [4]:
sxhool_Student_data.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [5]:
sxhool_Student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

District Summary
Calculate the total number of schools

Calculate the total number of students

Calculate the total budget

Calculate the average math score

Calculate the average reading score

Calculate the percentage of students with a passing math score (70 or greater)

Calculate the percentage of students with a passing reading score (70 or greater)

Calculate the percentage of students who passed math and reading (% Overall Passing)

Create a dataframe to hold the above results

Optional: give the displayed data cleaner formatting

In [6]:
# Calculate the total schools.

unique_school_name=sxhool_Student_data['school_name'].unique()

total_school=len(unique_school_name)

total_school

15

In [7]:
# Calculate the total students.
total_students=sxhool_Student_data["student_name"].count()

total_students

39170

In [8]:
# Calculate the total budget.
total_budget = sxhool_Data["budget"].sum()

total_budget

24649428

In [9]:
# Calculate the average math score.
average_math_score = sxhool_Student_data["math_score"].mean()

average_math_score

78.98537145774827

In [10]:
# Calculate the average reading score
average_reading_score = sxhool_Student_data["reading_score"].mean()

average_reading_score

81.87784018381414

In [11]:
# percentage of students with a passing math score (70 < x )

students_passing_math = sxhool_Student_data.loc[sxhool_Student_data["math_score"] >= 70]
number_students_passing_math = students_passing_math["Student ID"].count()
percent_passing_math = (number_students_passing_math / total_students) * 100

percent_passing_math

74.9808526933878

In [12]:
# percentage of students with a passing reading score (70 < x )
students_passing_reading = sxhool_Student_data.loc[sxhool_Student_data["reading_score"] >= 70]
number_students_passing_reading = students_passing_reading["Student ID"].count()
percent_passing_reading = (number_students_passing_reading / total_students) * 100

percent_passing_reading

85.80546336482001

In [13]:
# Calculate the percentage of % Overall Passing
Overall_passing = sxhool_Student_data[(sxhool_Student_data['math_score'] >= 70) & (sxhool_Student_data['reading_score'] >= 70)]['Student ID'].count()/total_students*100
Overall_passing

65.17232575950983

In [14]:
# Create a dataframe to hold the above results.
#code was develpted with by classmate M.R. and Tutor.

district_summary = pd.DataFrame({ "Total Schools": total_school, "Total Students": f"{total_students:,}", "Total Budget": f"${total_budget:,.2f}", "Average Reading Score": f"{average_reading_score:.2f}", "% Passing Math": f"{percent_passing_math:.2f}", "% Passing Reading": f"{percent_passing_reading:.2f}", "% Overall Passing": f"{Overall_passing: .2f}"}, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",81.88,74.98,85.81,65.17

In [15]:
# Group by school name
school_name = sxhool_Student_data.set_index('school_name').groupby(['school_name'])

In [16]:
# school types by school name
school_type = sxhool_Data.set_index('school_name')['type']

In [17]:
#  Calculate total students
total_student = school_name['Student ID'].count()

In [18]:
# Total school budget
total_school_budget = sxhool_Data.set_index('school_name')['budget']

In [19]:
# per student budget
budget_per_student = (sxhool_Data.set_index('school_name')['budget']/sxhool_Data.set_index('school_name')['size'])

In [20]:
# Average Math Score

average_math_score = school_name['math_score'].mean()

In [21]:
# Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [22]:
# % Passing Math

pass_math_percent = sxhool_Student_data[sxhool_Student_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [23]:
# % Passing Reading

pass_read_percent = sxhool_Student_data[sxhool_Student_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [24]:
# % Overall Passing (The percentage of students that passed math and reading.

overall_pass = sxhool_Student_data[(sxhool_Student_data['reading_score'] >= 70) & (sxhool_Student_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [25]:
school_summary = pd.DataFrame({"School Type": school_type, "Total Students": total_student, "Per Student Budget": budget_per_student, "Total School Budget": total_school_budget, "Average Math Score": average_math_score, "Average Reading Score": average_reading_score,'% Passing Math': pass_math_percent, '% Passing Reading': pass_read_percent,"% Overall Passing": overall_pass})

#munging
school_summary = school_summary[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]


#formatting
school_summary.style.format({'Total Students': '{:}',"Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}", 'Average Math Score': "{:2f}", 'Average Reading Score': "{:2f}", "% Passing Math": "{:2f}", "% Passing Reading": "{:2f}"})

# Top Performing Schools (By % Overall Passing)

In [26]:
# Sort and display the top five schools by passing rate 
top_perform = school_summary.sort_values("% Overall Passing", ascending = False)
top_perform.head().style.format({'Total Students': '{:}', "Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}", "% Passing Math": "{:2f}", "% Passing Reading": "{:2f}", "% Overall Passing": "{:2f}"})

# Bottom Performing Schools (By % Overall Passing)

In [27]:
# Sort and display the bottom five schools by passing rate 
bottom_perform = top_perform.tail(10)
bottom_perform = bottom_perform.sort_values('% Overall Passing')
bottom_perform.style.format({'Total Students': '{: }', "Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}", "% Passing Reading": "{:2f}", "% Passing Math": "{:2f}", "% Overall Passing": "{:2f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [28]:
# Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [29]:
# % Passing Math

pass_math_percent = sxhool_Student_data[sxhool_Student_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [30]:
# % Passing Reading

pass_read_percent = sxhool_Student_data[sxhool_Student_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [31]:
# Sort and display the top five schools by passing rate 
top_perform = school_summary.sort_values("% Overall Passing", ascending = False)
top_perform.head().style.format({'Total Students': '{:}', "Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}",  "% Passing Math": "{:2f}", "% Passing Reading": "{:2f}", "% Overall Passing": "{:2f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [32]:
# Sort and display the bottom five schools by passing rate 
bottom_perform = top_perform.tail(10)
bottom_perform = bottom_perform.sort_values('% Overall Passing')
bottom_perform.style.format({'Total Students': '{: }', "Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}", "% Passing Math": "{:2f}", "% Passing Reading": "{:2f}", "% Overall Passing": "{:2f}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [33]:
#creates grade level average math scores for each school 
ninth_math = student_DatX.loc[student_DatX['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_DatX.loc[student_DatX['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_DatX.loc[student_DatX['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_DatX.loc[student_DatX['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({ "9th": ninth_math, "10th": tenth_math, "11th": eleventh_math, "12th": twelfth_math})

math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

#show and format
math_scores.style.format({ '9th': '{:.2f}', "10th": '{:.2f}', "11th": "{:.2f}", "12th": "{:.2f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [34]:
#creates grade level average reading scores for each school
ninth_reading = student_DatX.loc[student_DatX['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_DatX.loc[student_DatX['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_DatX.loc[student_DatX['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_DatX.loc[student_DatX['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({"9th": ninth_reading, "10th": tenth_reading, "11th": eleventh_reading, "12th": twelfth_reading})

reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

#format
reading_scores.style.format({'9th': '{:.2f}', "10th": '{:.2f}', "11th": "{:.2f}", "12th": "{:.2f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [35]:
# create spending bins
bins = [0, 584, 629, 644, 675]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]
sxhool_Student_data['spending_bins'] = pd.cut(sxhool_Student_data['budget']/sxhool_Student_data['size'], bins, labels = group_name)

#group by spending
by_spending = sxhool_Student_data.groupby('spending_bins')
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = sxhool_Student_data[sxhool_Student_data['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = sxhool_Student_data[sxhool_Student_data['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = sxhool_Student_data[(sxhool_Student_data['reading_score'] >= 70) & (sxhool_Student_data['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
    
# df build            
scores_by_spend = pd.DataFrame({"Average Math Score": avg_math, "Average Reading Score": avg_read,"% Passing Math": pass_math,"% Passing Reading": pass_read,"% Overall Passing": overall})
            
#reorder columns
scores_by_spend = scores_by_spend[["Average Math Score","Average Reading Score","% Passing Math", "% Passing Reading","% Overall Passing"]]

scores_by_spend.index.name = "Per Student Budget"

#formating
scores_by_spend.style.format({'Average Math Score': '{:.2f}','Average Reading Score': '{:.2f}', '% Passing Reading':'{:.2f}','% Passing Math': '{:.2f}','% Overall Passing': '{:.2f}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [36]:
# create size bins for 
bins = [0, 1000, 1999,5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
sxhool_Student_data['size_bins'] = pd.cut(sxhool_Student_data['size'], bins, labels = group_name)

#group by spending
by_size = sxhool_Student_data.groupby('size_bins')

#calculations 
average_math_score = by_size['math_score'].mean()
average_reading_score = by_size['math_score'].mean()
pass_math_percent = sxhool_Student_data[sxhool_Student_data['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read_percent = sxhool_Student_data[sxhool_Student_data['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = sxhool_Student_data[(sxhool_Student_data['reading_score'] >= 70) & (sxhool_Student_data['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
  
# df build            
scores_by_size = pd.DataFrame({"Average Math Score": average_math_score,"Average Reading Score": average_reading_score,'% Passing Math': pass_math_percent,'% Passing Reading': pass_read_percent,'% Overall Passing': overall})
            
#reorder columns
scores_by_size = scores_by_size[["Average Math Score","Average Reading Score",'% Passing Math','% Passing Reading','% Overall Passing']]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.2f}','Average Reading Score': '{:.2f}','% Passing Math': '{:.2f}', '% Passing Reading':'{:.2f}', '% Overall Passing': '{:.2f}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [37]:
# group by school type
schoo_type = sxhool_Student_data.groupby("type")

#calculations 
average_math_score = schoo_type['math_score'].mean()
average_reading_score = schoo_type['math_score'].mean()
pass_math_percent = sxhool_Student_data[sxhool_Student_data['math_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
pass_read_percent = sxhool_Student_data[sxhool_Student_data['reading_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
overall = sxhool_Student_data[(sxhool_Student_data['reading_score'] >= 70) & (sxhool_Student_data['math_score'] >= 70)].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100

# df build            
scores_school_type = pd.DataFrame({"Average Math Score": average_math_score,"Average Reading Score": average_reading_score,'% Passing Math': pass_math_percent,'% Passing Reading': pass_read_percent,"% Overall Passing": overall})
  
#reorder columns
scores_school_type = scores_school_type [["Average Math Score","Average Reading Score",'% Passing Math','% Passing Reading',"% Overall Passing"]]
scores_school_type.index.name = "Type of School"

#formating
scores_school_type.style.format({'Average Math Score': '{:.2f}', 'Average Reading Score': '{:.2f}', '% Passing Math': '{:.2f}', '% Passing Reading':'{:.2f}', '% Overall Passing': '{:.2f}'})